* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:  #fff;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
} 
input {
    font-family: inherit;
}

ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}
button {
    cursor: pointer;
}



.container {
  max-width: 320px;
  padding: 0 16px; 
  margin: 0 auto; 
}

.header {
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header-navigation {
    display: flex;
    align-items: center;   
}

.header-logo {
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
padding-top: 16px;
padding-bottom: 16px;

}

.header-logo-part {
color: #2e2f42;
}

.header-menu-list {
    display: none;
}

.address {
    display: none;
}

.open-menu-btn {
padding: 0;
background-color: transparent;
line-height: 0;
border: none;
}

                          /**--------MOB MODAL MENU--------- */


   
.mob-menu {  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
padding: 24px 24px 40px 16px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.close-menu-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    border-radius: 100%;
background-color:  #fff;
border: 1px solid rgba(0, 0, 0, 0.1);
margin-bottom: 24px;
width: 24px;
height: 24px;
right: 24px;
    top: 24px;
    padding: 0;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-menu-btn:hover,
.close-menu-btn:focus {
    background-color: #404bbf;
    border: none;
}
.close-menu-btn:hover,
.close-menu-btn:focus svg {
    fill: #ffffff;
}

.mob-icon-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-list {
    margin-bottom: 50px;
}

.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
    transition: color 250mc cubic-bezier(0.4, 0, 0.2, 1); 
}

.mob-menu-link:hover,
.mob-menu-link:focus {
    color: #404bbf;
}

.mob-menu-item:not(:last-child) {
margin-bottom: 40px;
}

.menu {
    color: #404bbf;  
}

.mob-address {
    font-style: normal;
}

.mob-contacts-list {
    
}

.mob-contacts-item:not(:last-child) {
        margin-bottom: 24px;  
}

.mob-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250mc cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-contacts-link:hover,
.mob-contacts-link:focus {
    color: #404bbf;
}

.tel {
    color: #404bbf;
}

.mob-list-icon {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.mob-item-icon {
  width: 40px;
  height: 40px;  
    
}

.mob-list-link {
     fill: #f4f4fd;
     border-radius: 50%;
    width: 100%;
    height: 100%;
background-color: #4d5ae5;
display: flex;
justify-content: center;
align-items: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-list-link:hover,
.mob-list-link:focus {
    background-color: #404bbf;
}

/* *------------------------MOB MODAL Privacy Policy-------------- */

.mob-privacy-box-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
opacity: 0;
visibility: hidden;
pointer-events: none;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-privacy {
position: absolute;
width: 288px;
min-height: 623px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 72px 16px 16px 24px;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
border-radius: 4px;
background-color: #fcfcfc;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-privacy-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    border-radius: 100%;
    background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 24px;
      width: 24px;
      height: 24px;
     right: 24px;
     top: 24px;
    padding: 0;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.mob-privacy-btn:hover,
.mob-privacy-btn:focus {
    background-color: #404bbf;
    border: none;
}
.mob-privacy-btn:hover,
.mob-privacy-btn:focus svg {
    fill: #ffffff;
}
.privacy-icon-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-pryvacy-subtitle {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}

.mob-pryvacy-label {
    font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
display: block;
    margin-bottom: 4px;
}

.mob-pryvacy-iconbox {
    position: relative;  
}
.mob-pryvacy-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 256px;
height: 40px;
background-color: transparent;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding-left: 34px;
}

.mob-pryvacy-input:focus {
    border-color: #4d5ae5;
  }

  .mob-pryvacy-input:focus + .mob-pryvacy-icon {
    fill: #4d5ae5;
  }

.mob-pryvacy-icon {
    position: absolute;
        fill: #2e2f42;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.mob-pryvacy-input-box {
    margin-bottom: 8px;
    
}

.mob-pryvacy-textarea {
    margin-bottom: 16px;
}
.mob-pryvacy-comments {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    opacity: 0.5; 
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 256px;
height: 120px;
padding: 8px 16px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;

}

.mob-pryvacy-comments:focus {
    border-color: #4D5AE5;
}

.mob-pryvacy-checkbox-box {
    margin-bottom: 24px;
}

.mob-pryvacy-checkbox:checked + .mob-pryvacy-text span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.visually-hidden {
}
.mob-pryvacy-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 24px;
   display: flex;
   align-items: center;
   
}

.mob-pryvacy-text span {
    position: relative;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
    align-items: center;
    fill: transparent; 
    flex-shrink: 0;
      
}
.mob-pryvacy-span {
      
}
.mob-pryvacy-checkbox-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mob-pryvacy-accept {

}
.mob-pryvacy {
    line-height: 1.33;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}
.mob-pryvacy-btn-send {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
        border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-send:hover,
.modal-btn-send:focus {
    background-color: #404BBF;
}










.is-open-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.hero {
    background-color: #2e2f42;
    max-width: 320px;
    height: 432px;
    margin: 0 auto;
    padding-top: 72px;
padding-bottom: 72px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-image: linear-gradient(
    rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)),
 url(../images/backgraund/people-office-mob-1x.jpg);
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)),
     url(../images/backgraund/people-office-mob-2x.jpg);
    } 
}





.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 216px;
margin-left: auto;
margin-right: auto;
margin-bottom: 72px;
}

.hero-button {
    display: block; 
    border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
margin: 0 auto;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
   
.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* *-------------ADVANTAGE MOB---------------- */


.advantage {
    padding: 96px 0 ;
}

.advantage-container {
}
.visually-hidden {position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantage-list {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.advantage-item {
 width: 100%;   
}

.advantage-box {
    display: none;
}

.advantage-item-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.advantage-item-text {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/* *------------TEAM MOB-------------- */
.team {
    background: #f4f4fd;  
    padding: 96px 0;

}
.team-box {
   width: 264px;
}
.team-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}
.team-item {
    border-radius: 0 0 4px 4px;
    background-color: #FFFFFF;
    padding: 0px 0px 32px 0px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: 100%;
}
.team-item-picture {
    margin: 0 auto;
}
.name-box {
    
}
.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;   
}
.team-item-text {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
margin-bottom: 8px;
}
.team-list-icon {
    display: flex;
    gap: 24px;
    justify-content: center;
      
}
.team-item-icon {
    width: 40px;  
    height: 40px;

}
.team-list-link {
    border-radius: 50%;
    width: 100%;
    height: 100%;
background-color: #4d5ae5;
display: flex;
justify-content: center;
align-items: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
fill: #f4f4fd;
}
.team-list-link:hover,
.team-list-link:focus {
    background-color: #404bbf;
}

/* *----------Portfolio Mob--------- */

.portfolio {
    padding: 166px 0 96px 0;
}
.portfolio-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    
}
  

.portfolio-item {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}

    .portfolio-cover-picture {
display: none;
    }


.portfolio-box {
border: 1px solid #e7e9fc;
padding: 32px 16px;
width: 100%;
border-top: none;
}
.portfolio-item-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.portfolio-item-text {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/* *----------FOOTER MOB---------------------- */

.footer {
    background: #2e2f42;
    padding: 96px 0;
}
.footer-container {

}

.footer-text-box {
    margin-bottom: 72px;
}

.footer-logo {
display: block;
text-align: center;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-bottom: 16px;
}

.footer-logo-part {
    color: #f4f4fd;
}
.footer-text {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 288px;
}
.footer-icon-box {
    margin-bottom: 72px;
}
.footer-contact {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
text-align: center;
}
.footer-list-icon {
    display: flex;
    gap: 16px;
    justify-content: center;
}
.footer-item-icon {
}
.footer-list-link {
    border-radius: 50%;
    width: 40px;
    height: 40px;
background-color: #4d5ae5;
fill: #f4f4fd;
display: flex;
justify-content: center;
align-items: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-link:hover,
.footer-list-link:focus {
    background-color: #31d0aa;
}

.footer-icon {
}
.form-box {
}
.footer-form-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
}
.footer-form {
      
}
.footer-form-label {
}

.footer-form-input {
    border: 1px solid #ffffff;
border-radius: 4px;
width: 288px;
height: 40px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: transparent;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
padding-left: 16px;
color: #ffffff;
opacity: 0.3;
margin-bottom: 16px;
}
.footer-form-input::placeholder {
    font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #fff;
opacity: 0.6;   
}

.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;  
    border-radius: 4px;
    padding: 8px 24px;
    background-color: #4d5ae5;
    border: none;
    min-width: 165px;
    height: 40px;
    margin: 0 auto;
}

.icon-close-black {
    fill: #ffffff;
    margin-left: 16px;
}


/** -------------------TAB---------------------- */

@media screen and (min-width: 768px) { 
    .container {
        max-width: 768px;
     } 

        .header-logo {
            margin-right: 120px;
        }

        .header-menu-list {
            display: flex;
            gap: 40px;
        }
        
        .header-menu-link {
            padding-top: 24px;
            padding-bottom: 24px;
            display: block;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            transition: color 250mc cubic-bezier(0.4, 0, 0.2, 1);
        }

        .header-menu-link:hover,
        .header-menu-link:focus {
            color: #404bbf;
        }

        .menu {
         position: relative; 
         color: #404bbf; 
        }

        .menu::after {
            content: "";
            border-radius: 2px;
            width: 100%;
            height: 4px;
            background-color: #404bbf;
            display: block;
            position: absolute;
            left: 0;
            bottom: -1px;
        }
        
        .address {
           font-style: normal;
           margin-left: auto;
           display: block;
        }

        .address-contacts-list {
            display: flex;
            flex-direction: column;
            gap: 12px;
            
        }

        .address-contacts-item {
            color: #434455;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            transition: color 250mc cubic-bezier(0.4, 0, 0.2, 1);
        }
        .address-contacts-item:hover,
        .address-contacts-item:focus {
            color: #404bbf;
        }

        .open-menu-btn {
            display: none;
        }

/* *-------------------HERO TAB------------------- */

        .hero {
            max-width: 768px;
            padding-top: 112px;
            padding-bottom: 112px;
          background-image: linear-gradient(
                rgba(46, 47, 66, 0.7), 
                rgba(46, 47, 66, 0.7)),
             url(../images/backgraund/people-office-tab-1x.jpg);
        }

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx)  {
            .hero {
            background-image: linear-gradient(
                rgba(46, 47, 66, 0.7), 
                rgba(46, 47, 66, 0.7)),
             url(../images/backgraund/people-office-tab-2x.jpg);
            } 
        }
        .hero-title {
            font-size: 56px;
            line-height: 1.07;
            min-width: 496px;
            margin-bottom: 36px;
        }
        

/* *-------------ADVANTAGE TAB---------------- */
        .advantage-item-title {  
        text-align: left;
        }
 
        .advantage-list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 72px 24px;

        }

         .advantage-item {
            width: calc((100% - 24px) / 2);
        }

/* *---------------TEAM TAB-------------- */
.team-box {
    width: 552px;
}
        .team-list {
          gap: 64px 24px;
}

.team-item {
    width: calc((100% - 24px) / 2);
}

/* *----------Portfolio Tab--------- */
.portfolio {
    padding: 96px 0;
}   

.portfolio-list {
    gap: 72px 24px;
}   
.portfolio-item {
    width: calc((100% - 24px) / 2);
}

/* *----------FOOTER TAB---------------------- */

.footer-container {
  padding-left: 108px;
}
.footer-tab {
    display: flex; 
align-items: baseline;
}

.footer-text-box {
    margin-right: 24px;
}
.footer-logo {
    text-align: left;
}

.footer-text {
    max-width: 264px; 
}

.footer-icon-box {
   margin-bottom: 104px;
}

.footer-contact {
    text-align: left;
}

.footer-form-subtitle {
    text-align: left;
}

.footer-form {
 display: flex;
 gap: 24px;
}

.footer-form-input {
    width: 264px;

}
.footer-btn {
    margin: 0;
}

}
/* *---------------TAB MODAL------------------ */
.tab-box-overlay {
}
.is-open-menu {
}
.tab-modal {
}
.tab-btn {
}
.tab-icon-close {
}
.tab-subtitle {
}
.tab-form {
}
.tab-input-box {
}
.tab-label {
}
.tab-iconbox {
}
.tab-input {
}
.tab-icon {
}
.tab-textarea {
}
.tab-comments {
}
.tab-checkbox-box {
}
.tab-checkbox {
}
.visually-hidden {
}
.tab-text {
}
.tab-span {
}
.tab-checkbox-icon {
}
.tab-pryvacy {
}
.tabmob-pryvacy-btn-send {
}
/** -------------------DECKTOP---------------------- */

@media screen and (min-width: 1158px) { 
    .container  {
        max-width: 1158px;
    padding: 0 15px;
} 

    .header-logo {
        margin-right: 76px;
    }

    .address-contacts-list {
        flex-direction: row;
        gap: 40px;
    }

    .address-contacts-item {
        font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;

    }
    .backdrop {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
       background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    
    .modal {
        position: absolute;
        width: 408px;
        min-height: 584px;
        border-radius: 4px;
        top: 50%;
        left: 50%;
        background-color: #fcfcfc;
        transform: translate(-50%, -50%);
        padding: 72px 24px 24px 24px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    .modal-button {
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.1);
        right: 24px;
        top: 24px;
        width: 24px;
        height: 24px;
        padding: 0;
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 50%;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    
    .modal-button:hover,
    .modal-button:focus {
        background-color: #404bbf;
        border: none;
    }
    .modal-close {
        fill: #2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-button:hover,
    .modal-button:focus svg {
        fill: #ffffff;
    }
    
    .modal-subtitle {
        font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
    }
    
    .modal-input {
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 360px;
        height: 40px;
    background-color: transparent;
    outline: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .modal-input:focus {
      border-color: #4d5ae5;
    }
    
    .modal-input:focus + .modal-icon {
        fill: #4d5ae5;
     }
    
    .modal-label {
        font-size: 12px;
        line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
    
    }
    
    .modal-icon {
        position: absolute;
        fill: #2e2f42;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
        
    }
    
    .modal-input-box {
        margin-bottom: 8px;
    
    }
    .modal-box-icon {
        position: relative;
        
    }
    .modal-textarea-box {
        margin-bottom: 16px;
    }
    .modal-comments {
        font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    padding: 8px 16px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    }
    .modal-comments:focus {
        border-color: #4D5AE5;
    }
    
    .modal-checkbox-box {
        margin-bottom: 24px;
    }
    
    .modal-checkbox:checked + .checkbox-text span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
    }
    
    .checkbox-text span {
        position: relative;
        margin-right: 8px;
      width: 16px;
      height: 16px;
      border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
    }
    .modal-checkbox-span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
    }
    
    .checkbox-text {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        
        margin-bottom: 24px;
    }
    
    .privacy {
        line-height: 1.3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    }
    
    .modal-checkbox-icon {
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .modal-btn-send{
        font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
        border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer
    }
    
    .modal-btn-send:hover,
    .modal-btn-send:focus {
        background-color: #404BBF;
    
}
    .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)),
     url(../images/backgraund/people-office.jpg);
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)),
     url(../images/backgraund/people-office-2x.jpg);
    } 
}

.hero-title {
    margin-bottom: 48px;
}

/* *-------------ADVANTAGE DECKTOP---------------- */

.advantage {
    padding: 120px 0 120px;
}
.advantage-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
   padding: 24px 100px;
   margin-bottom: 8px;
}

.advantage-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    }

    .advantage-item-text {
        font-weight: 400;
    }

    .advantage-item {
        width: calc((100% - 3 * 24px) / 4);
    }
    /* *------------Team Decktop----------- */

    .team { 
        padding: 120px 0;
    }
    
    .team-box {
        width: 100%;
    }

    .team-item {
        width: calc((100% - 24px * 3) / 4);
    }
    /* *----------Portfolio Decktop--------- */

    .portfolio {
        padding: 120px 0;
    }
    .portfolio-list {
        gap: 48px 24px;
    } 
    .portfolio-item {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item:hover .portfolio-cover-picture {
        transform: translateY(0);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}
.portfolio-picture-box {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-picture {
    display: flex;
    position: absolute;
    top: 0;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

/* *----------FOOTER DECKTOP---------------------- */

.footer {
    padding: 100px 0;
}
.footer-container{
    display: flex; 
    align-items: baseline;
}
.footer-text-box {
    margin-right: 120px;
    }

    .footer-icon-box {
        margin-right: 80px;   
    }

}

/* *----------DECKTOP MODAL------------ */
.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
   background-color: rgba(46, 47, 66, 0.4);
opacity: 0;
visibility: hidden;
pointer-events: none;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.modal {
    position: absolute;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    background-color: #fcfcfc;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-button {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   cursor: pointer;
background-color: #e7e9fc;
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.1);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus svg {
    fill: #ffffff;
}

.modal-subtitle {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}



.modal-form {
}
.modal-input-box {
margin-bottom: 8px;

}
.modal-label {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
display: block;
margin-bottom: 4px;
}
.modal-box-icon {
}
.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
background-color: transparent;
outline: transparent;
padding-left: 38px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
  }
  
  .modal-input:focus + .modal-icon {
      fill: #4d5ae5;
   }

   .modal-box-icon {
    position: relative;
}

.modal-icon {
    position: absolute;
    fill: #2e2f42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.modal-textarea-box {
    margin-bottom: 16px;
}

.modal-comments {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    padding: 8px 16px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
}

.modal-comments:focus {
    border-color: #4D5AE5;
}

.modal-checkbox-box {
    margin-bottom: 24px;
}

.modal-checkbox:checked + .checkbox-text span {
background-color: #404bbf;
border: none;
fill: #f4f4fd;
}

.checkbox-text span {
    position: relative;
    margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);  
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.modal-checkbox-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.checkbox-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 24px;
}

.modal-checkbox-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.privacy {
    line-height: 1.3;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}

.modal-btn-send{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #ffffff;
    border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
border: none;
display: block;
margin: 0 auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer
}

.modal-btn-send:hover,
.modal-btn-send:focus {
    background-color: #404BBF;
}
