* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:  #fff;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
} 
input {
    font-family: inherit;
}

ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}
button {
    cursor: pointer;
}



.container {
  max-width: 320px;
  padding: 0 16px; 
  margin: 0 auto; 
}

.header {
border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header-navigation {
    display: flex;
    align-items: center;   
}

.header-logo {
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
padding-top: 16px;
padding-bottom: 16px;

}

.header-logo-part {
color: #2e2f42;
}

.header-menu-list {
    display: none;
}

.address {
    display: none;
}

.open-menu-btn {
padding: 0;
background-color: transparent;
line-height: 0;
border: none;
}

.mob-menu {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #fff;
padding: 24px 24px 40px 16px;
}
/*!!!!!!!!!!!!!!!!  */
.close-menu-btn {
    display: block;
    margin-left: auto;
    border-radius: 100%;
fill: #e7e9fc;
stroke-width: 1px;
stroke: #2e2f42;
margin-bottom: 24px;
width: 24px;
height: 24px;


}

.mob-menu-list {
}
.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
    
}
.mob-menu-item:not(:last-child) {
margin-bottom: 40px;
}
.mob-menu-item {

}
.menu {
}
.mob-address {
}
.mob-contacts-list {
}
.mob-contacts-item {
}
.mob-icon-box {
}
.mob-list-icon {
}
.mob-item-icon {
}
.mob-list-link {
}
.team-icon {
}

.hero {
}
.hero-container {
}
.hero-title {
}
.hero-button {
}
.advantage {
}
.advantage-container {
}
.visually-hidden {
}
.advantage-list {
}
.advantage-item {
}
.advantage-box {
}
.advantage-icon {
}
.advantage-item-title {
}
.advantage-item-text {
}
.advantage-icons {
}
.team {
}
.team-box {
}
.team-title {
}
.team-list {
}
.team-item {
}
.team-item-picture {
}
.name-box {
}
.team-item-title {
}
.team-item-text {
}
.team-list-icon {
}
.team-item-icon {
}
.team-list-link {
}
.team-icon {
}
.portfolio {
}
.portfolio-title {
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-picture-box {
}
.portfolio-item-picture {
}
.portfolio-cover-picture {
}
.portfolio-box {
}
.portfolio-item-title {
}
.portfolio-item-text {
}
.footer {
}
.footer-container {
}
.footer-text-box {
}
.footer-logo {
}
.footer-logo-part {
}
.footer-text {
}
.footer-icon-box {
}
.footer-contact {
}
.footer-list-icon {
}
.footer-item-icon {
}
.footer-list-link {
}
.footer-icon {
}
.form-box {
}
.footer-form-subtitle {
}
.footer-form {
}
.footer-form-label {
}
.footer-form-input {
}
.footer-btn {
}
.icon-close-black {
}
.backdrop {
}
.modal {
}
.modal-button {
}
.modal-close {
}
.modal-subtitle {
}
.modal-form {
}
.modal-input-box {
}
.modal-label {
}
.modal-box-icon {
}
.modal-input {
}
.modal-icon {
}
.modal-textarea-box {
}
.modal-comments {
}
.modal-checkbox-box {
}
.modal-checkbox {
}
.checkbox-text {
}
.modal-checkbox-span {
}
.modal-checkbox-icon {
}
.privacy {
}
.modal-btn-send {
}

/** -------------------TAB---------------------- */

@media screen and (min-width: 768px) { 
    .container {
        max-width: 768px;
     } 

        .header-logo {
            margin-right: 120px;
        }

        .header-menu-list {
            display: flex;
            gap: 40px;
        }
        
        .header-menu-link {
            padding-top: 24px;
            padding-bottom: 24px;
            display: block;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            transition: color 250mc cubic-bezier(0.4, 0, 0.2, 1);
        }

        .header-menu-link:hover,
        .header-menu-link:focus {
            color: #404bbf;
        }

        .menu {
         position: relative; 
         color: #404bbf;  
        }

        .menu::after {
            content: "";
            border-radius: 2px;
            width: 100%;
            height: 4px;
            border-color: #404bbf;
            position: absolute;
            left: 0;
            bottom: -1px;
        }
        
        .address {
           font-style: normal;
           margin-left: auto;
           display: block;
        }

        .address-contacts-list {
            display: flex;
            flex-direction: column;
            gap: 12px;
            
        }

        .address-contacts-item {
            color: #434455;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            transition: color 250mc cubic-bezier(0.4, 0, 0.2, 1);
        }
        .address-contacts-item:hover,
        .address-contacts-item:focus {
            color: #404bbf;
        }

        .open-menu-btn {
            display: none;
        }

        



}
/** -------------------DECKTOP---------------------- */

@media screen and (min-width: 1158px) { 
    .container  {
        max-width: 1158px;
    padding: 0 15px;
} 

    .header-logo {
        margin-right: 76px;
    }

    .address-contacts-list {
        flex-direction: row;
        gap: 40px;
    }

    .address-contacts-item {
        font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;

    }

}